body{
    background-image: url("bdaybackground3.jpg");
}

p{
    text-align: center;
    background-color: pink;
    
    border-radius: 25px;
}
.offset{
    
    padding: 5px 10px 5px 10px;
    margin: 2% 10% 2% 10%;
}