img{
    
    transition: 0.1s;
    max-width:100%;
    margin: 10px;
    
}

img.circular{
    border-radius: 50%;

}

img.blue{
     outline: solid black 10px;
}

img.red{
     outline: solid red 10px;
}

img.green{
     outline: solid green 10px;
}

img.purple{
     outline: solid purple 10px;
}

img.orange{
     outline: solid orange 10px;
}

img.yellow{
     outline: solid yellow 10px;
}

.rotate{
    
    transform: rotate(90deg);
}


.background{
    background-image: url("bdaybackground2.jpg");
}


img:hover{
    transition: 0.7s;
    transform: rotate(360deg) scale(1.3);
}

.image{
     width: 25%;
    padding: 0px;
    margin: 0 4% 5% 4%;
    display: inline-block;
}

figcaption{
    text-align: center;
    font-style: italic;
    font-weight: bold;
}